# Configurações do site WordPress e da API REST para upload de mídias e registro de datasets
WP_URL=http://observadados.local
WP_USER=observadados
WP_APP_PASSWORD=xxxx xxxx xxxx xxxx xxxx xxxx

# Configurações de SMTP para envio de relatórios de execução por e-mail
SMTP_SERVER=smtp.exemplo.com
SMTP_PORT=587
SMTP_USER=seu_usuario@exemplo.com
SMTP_PASSWORD=sua_senha_secreta
SMTP_FROM=seu_usuario@exemplo.com
ADMIN_EMAIL=admin_wordpress@exemplo.com
